name: Build LaTeX document

on:
  push:
    branches:
      - main
    paths:
      - 'texFiles/*.tex'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history for all branches and tags

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install TeX Live
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive-xetex texlive-fonts-recommended texlive-plain-generic

    - name: Run Python script to build LaTeX
      run: python build_latex.py
    
    - name: List pdfFiles directory contents
      run: ls -la pdfFiles

    - name: List root directory contents
      run: ls -la
    
    - name: Commit changes
      run: |
        git config user.name "$(git log -n 1 --pretty=format:%an)"
        git config user.email "$(git log -n 1 --pretty=format:%ae)"
        git add pdfFiles/*
        git commit -m "Added $(git log -1 --name-only)"

    - name: push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        force: true
        directory: pdfFiles